<div class="container">
    <h2>Phase 2 Project</h2>
    <pre>
        This is a project for Phase 2. This program has a quiz that presents questions
        about anything in general. This website displays a form with questions indivually.
        In order to see the next question, you should press the button next. Once you reach 
        the last question, the button next will be dissabled. When you are done you 
        press the button submit. When you press the button submit the results and correct
        answers are displayed bellow. The questions are taken from a json file. This file
        has general questions about animals and geography. The questions are taken from a 
        json file. This file is called questions.json which it is loaded to the localhost.
        I left the file in the main folder of the project.
    </pre>
    <h3>Press <b>Start Quiz</b> in NavBar to start quiz</h3>
</div>
